Books/authors.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="authors">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="author" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="aid" type="xs:integer" use="required" />
						<xs:attribute name="name" use="required" />
						<xs:attribute name="location" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>