Books/titles.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="books">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="book" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="bid" type="xs:integer" use="required" />
						<xs:attribute name="title" use="required" />
						<xs:attribute name="author" use="required" />
						<xs:attribute name="location" use="required" />
						<xs:attribute name="section" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>